body {
  margin: 0;
  padding: 0; 
  display: grid;
  grid-template-areas: 
      "header header"
      "nav nav"
      "main main"
      ;
      
  grid-template-columns: 4fr;
  /* grid-template-rows: 500px 1fr; */
  row-gap: 10px;
  column-gap: 15px;

  font-family: headerFont;
  font-size: 30px;
}

header {
  color: black;
  grid-area: header;
  border: 2px solid red;
}

main {
  grid-area: main;
  border: 2px solid blue;
  /* background-color: rgba(0,0,0,0.7); */
  /* box-shadow: 0px 10px 43px 22px rgba(0,0,0,0.75); */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;

}

nav {
  color: black;
  grid-area: nav;
  /* background-color: rgba(0,0,0,0.7); */
  /* box-shadow: 0px 10px 43px 22px rgba(0,0,0,0.75); */
  border: 2px solid green;
  text-align: center;
  /* position: relative; */
  /* display: inline-block */
}
