html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(https://pressstart.vip/images/uploads/assets/cityskyline.png); */
  /* background: url(https://www.xmple.com/wallpaper/blue-gradient-violet-linear-1920x1080-c2-340e41-180e41-a-285-f-14.svg); */
  /* background: url(http://getwallpapers.com/wallpaper/full/7/c/3/1371783-dark-purple-background-1920x1080-for-retina.jpg); */
  background: rgb(18,14,27);
  background: linear-gradient(0deg, rgba(14, 14, 27, 0.986) 4%, rgb(18,14,27) 66%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  color: white;
  margin: 0;
  padding: 0; 
  display: grid;
  grid-template-areas: 
      "header header"
      "nav nav"
      "main main"
      ;
      
  grid-template-columns: 4fr;
  /* grid-template-rows: 500px 1fr; */
  row-gap: 10px;
  column-gap: 15px;

  font-family: headerFont;
  font-size: 30px;
  height: 100%;
}



header {
  grid-area: header;
  border: 2px solid red;
  text-align: center;
  color: white;
}


.game-library {
  color: white;
  grid-area: main;
  /* border: 2px solid blue; */
  /* background-color: rgba(0,0,0,0.7); */
  /* box-shadow: 0px 10px 43px 22px rgba(0,0,0,0.75); */
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

nav {
  color: white;
  grid-area: nav;
  background-color: rgba(48, 47, 61, 0.7);
  height: 100%;
  padding: 6px 20px;
  margin-top:-10px;
  /* box-shadow: 0px 10px 43px 22px rgba(0,0,0,0.75); */
  /* border: 2px solid green;  */
  /* text-align: center; */
  /* position: relative; */
  /* display: inline-block */
}

.poster {
  display: block;
  /* max-height: 70vh;
  max-width: 100%; */
  height: 400px;
  width: 100%;
  margin: 0px auto;
  /* box-shadow: 0px 10px 36px 2px rgba(110,110,110,1); */
  /* animation-name: load-movie;
  animation-duration: 1s;
  transition: transform 1s, box-shadow 0.5s; */
  
}

.card:hover {
  transform: scale(1.1); 
  box-shadow: 0px 10px 36px 2px rgb(15, 3, 58);
}

.card:active {
  transform: scale(0.8);
  box-shadow: 0px 10px 36px 2px rgb(22, 6, 59);
}

.card {
  display: grid;
  grid-template-rows: max-content 75px 1fr;
  animation-name: load-movie;
  animation-duration: 1s;
  transition: transform 1s, box-shadow 0.5s;
  background-color: rgba(48, 47, 61, 0.7)
}

.card-content {
  /* display: flex; */
  position: relative
}
.card-title{
  /* width: 10%; */
  text-align: center;
  font-size: 20px;
}
.card-rating {
  float: right;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

/* .card-inner {
  margin: 0 auto;
  margin-top: -6px;
  padding: 2px 14px;
  background-color: rgba(21, 21, 65, 0.986);
  width: 300px;
} */

.errors {
  color: red;
  font-size: 20px;
}


/* -------------------- GAME PAGE CSS -------------------- */
.gamepage-div {
  padding-left: 10%;
  padding-right: 10%;
}
.game-page-info {
  display: grid;
  grid-template-areas: 
  "video video"
  "info review"
  ;
  /* grid-template-columns: 2fr; */
  row-gap: 10px;
  column-gap: 15px;
}

.video {
  grid-area: video;
  /* border: 2px solid peru */
}

.game-info {
  grid-area: info;
  width: 90vh;
  border: 2px solid peru
}

.game-review {
  grid-area: review;
  overflow: auto;
  max-height: 70vh;
  border: 2px solid peru;
  
}

.delete-button {
  font-size: 1.5rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}
.edit-button {
  font-size: 1.5rem;
  border: none;
  background: none;
  transition: color 300ms;
  cursor: pointer;
}

.review-info {
  margin-top: 20px;
}
.review-head {
  display: flex;
}
.rating-circle {
  background-color: #1ce63a;
  width: 50px;
  height: 50px;
  border-radius: 200px 200px 200px 200px;
  font-size: smaller;
  text-align: center;
  margin: auto 0;
  line-height: 50px;
}
.review-username {
  margin-left: 5%;
}

.review-content {
  font-size: 20px;
  margin-top: 5%;
}

.page-review-head {
  text-align: center;
  background-color:rgba(10, 11, 12, 0.856) ;
}

/* --------------------  LOGIN PAGE CSS  -------------------- */

.login {
  position: absolute;
  display: block;
  /* border: 2px solid peru; */
  /* background-image: url(https://i.pinimg.com/originals/fa/dc/b2/fadcb24075acb650de29f258af69d830.gif); */
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9bc27292880429.5e569ff84e4d0.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.login-form-box {
  position: relative;
  display: block;
  border: 2px solid peru;
  height: 50%;
  width: 35%;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* -------------------- USER PAGE CSS -------------------- */

.user-page-info {
  display: grid;
  grid-template-areas: 
  "userhead userhead"
  "glist reviewlist"
  "glist reviewlist"
  ;
  /* grid-template-columns: 1fr; */
  row-gap: 10px;
  column-gap: 15px;
  padding-left: 10%;
  padding-right: 10%;
}

.game-list {
  grid-area: glist;
  /* border: 2px solid peru; */
  width: 80vh;
}

.reviewed {
  grid-area: reviewlist;
  float: right;
  /* border: 2px solid peru */
}

.user-page-info h3 {
  text-align: center;
}

.user-review-head {
  display: flex;
}
.user-rating-circle {
  background-color: #1ce63a;
  width: 50px;
  height: 50px;
  border-radius: 200px 200px 200px 200px;
  font-size: smaller;
  text-align: center;
  margin: auto 0;
  line-height: 50px;
}
.user-game-title {
  margin-left: 4%;
  height: 50px;
  line-height: 50px;
}

.user-review-content {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 8%;
}

.user-head {
  grid-area: userhead;
  height: 300px;
  max-height: 100%;
  background: url(https://wallpapercave.com/wp/wp6856178.jpg) no-repeat;
  background-size: 100%;
  background-position: fixed;
  text-align: center;
  opacity: 0.2;
}

/* .user-head-container {
 width: 100%;
} */
/* -------------------- Nav  -------------------- */

.nav-bar {
  /* display: inline-block; */
}
.user-nav-div {
  display: flex;
  float: right;
}

.logged-in{
  display: flex;
}

.hey {
  margin-right: 20px;
}

.game-filter-div {
  display: flex;
}

.nav-find-things {
  display: flex;
}

.nav-filter {
  display: inline-block;
}

/* --------------------   -------------------- */


.login-form {
  /* background-color: #fff8e7;
  border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-top: 0px;
}

form input {
  margin: 0.25rem 0;
}

form input[type="submit"] {
  width: 100%;
}

form img {
  width: 150px;
}

.emoji-button {
  border: none;
  background: none;
  padding: 0 0.25rem;
  cursor: pointer;
  font-size: 20px;
}

.emoji-button.favorite {
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.emoji-button.favorite.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 gold;
  cursor: pointer;
}

li {
  list-style-type: none;
  padding: 10px;
}

a:link, a:visited {
  /* background-color: #4336f4; */
  color: white;
  /* padding: 14px 25px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  /* font-size: 20px; */
}

a:hover, a:active {
  color: rgb(97, 80, 136);
}

button{
  background: #3F2E69;
  background-image: -webkit-linear-gradient(top, #3F2E69, #292035);
  background-image: -moz-linear-gradient(top, #3F2E69, #292035);
  background-image: -ms-linear-gradient(top, #3F2E69, #292035);
  background-image: -o-linear-gradient(top, #3F2E69, #292035);
  background-image: -webkit-gradient(to bottom, #3F2E69, #292035);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  /* font-family: Brush Script MT; */
  /* font-size: 40px; */
  font-weight: 100;
  padding: 5px;
  /* -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000; */
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #0A1757 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

button:hover {
  border: solid #0A1757 1px;
  background: #473C61;
  background-image: -webkit-linear-gradient(top, #473C61, #3A2854);
  background-image: -moz-linear-gradient(top, #473C61, #3A2854);
  background-image: -ms-linear-gradient(top, #473C61, #3A2854);
  background-image: -o-linear-gradient(top, #473C61, #3A2854);
  background-image: -webkit-gradient(to bottom, #473C61, #3A2854);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.Modal {
  position: absolute;
  top: 600px;
  left: 600px;
  right: 600px;
  bottom: 600px;
  background-color: rgb(27, 9, 29);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, .5)
}

textarea {
  height: 50vh;
  max-width: 340px;
  width: 30vw;
  background-color: rgba(0,0,0,0.7);
  color: white;
}

.modal__backdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modal__container {
	background: rgb(24, 16, 16);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 560px;
}

.modal__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}